<h1>Edit homepage</h1>
<div class="content home-edit">
  <%= simple_form_for @home do |f| %>
    <%= f.input :ica_presents_begins, label: 'Date and time for ICA Presents to start:' %>
    <%= f.input :program, label: 'Text for Program:', input_html: { style: 'height: 200px;' } %>
    <%= f.input :about, label: 'Text for About ICA Presents:', input_html: { style: 'height: 200px;' } %>
    <%= f.button :submit, value: 'Save' %>
  <% end %>
</div>