<h1>Home pagina bijwerken</h1>
<div class="content">
  <%= simple_form_for @home do |f| %>
    <%= f.input :ica_presents_begins, label: 'De datum en tijd waarop ICA Presents begint:' %>
    <%= f.input :program, label: 'Tekst onder Programma:', input_html: { style: 'height: 200px;' } %>
    <%= f.input :about, label: 'Tekst onder Over ICA Presents:', input_html: { style: 'height: 200px;' } %>
    <%= f.button :submit, value: 'Opslaan' %>
  <% end %>
</div>