<form action="/projects" method="get">
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" name="search" placeholder="Zoek op titel, student, semester of beschrijving">
        </div>
        <div class="small-2 columns">
          <input type="submit" class="button prefix" value="Zoek" />
        </div>
      </div>
    </div>
  </div>
</form>
<% if current_user and current_user.try(:project) current_user.project.try(:id) and !current_user.project.try(:approved) %>
<div class="row project-item">
  <p class="top">Je project <strong><%= current_user.project.title %></strong> is nog niet bekeken en/of goedgekeurd door de beheerders (<%= Teacher.pluck(:name).join(', ') %>) en staat daarom nog niet in het overzicht.</p>
</div>
<% end %>
<% if @search.present? %>
<div class="row project-item">
  <p class="top">Zoekresultaten voor: '<%= @search %>' (<%= @projects.length %>).</p>
</div>
<% end %>
<% if @projects.empty? %>
<div class="row project-item">
  <p class="top">Er zijn geen (goedgekeurde) projecten gevonden.</p>
</div>
<% end %>
<% @projects.each do |project| %>
<div class="row project-item">
  <h2><%= project.title %></h2>
  <p class="left">
    <strong>Student(en):</strong> <%= project.students %>
    <br />
    <strong>Semester/minor:</strong> <%= project.semester %>
  </p>
  <div class="no-phone">
    <%= link_to raw('<i class="large icon-plus-sign"></i>'), project_path(project), class: 'button right no-styling', style: 'width: 50px; margin-right: 50px;' %>
  </div>
  <div class="phone" style="clear: both;">
    <%= link_to raw('<i class="large icon-plus-sign"></i>'), project_path(project), class: 'button right no-styling', style: 'width: 50px; margin-right: 50px;' %>
  </div>
  <% if admin? %>
    <%= link_to raw('<i class="large icon-edit"></i>'), edit_project_path(project), class: 'button right no-styling', style: 'width: 50px; margin-top: 2px;' %>
    <% unless project.approved %>
    <p class="red clear">Dit project is nog niet goedgekeurd!</p>
    <% end %>
  <% end %>
</div>
<% end %>