<h1>Standings</h1>
<div id="standings" class="details">
<small>This page will refresh automatically! Last refresh: <strong><%= Time.zone.now.strftime('%H:%M') %></strong></small>
<% @votes.each do |vote| %>  
  <h3><%= vote.award.name %></h3>
  <p>
    <strong><%= link_to vote.project.title, project_path(vote.project.id) %></strong>
    <br />
    <%= ((vote.score.to_f / vote.award.votes.size.to_f) * 100).round %>% (<%= vote.score %> out of <%= vote.award.votes.size %> votes for this award.)
  </p>
<% end %>
<% if @votes.size < Award.all.size %>
  <p><strong>No votes for other awards yet.</strong></p>
<% end %>
  <h5>Most votes overall:</h5>
  <p>
    <strong><%= link_to @most_votes.project.title, project_path(@most_votes.project.id) %></strong>
    <br />
    <%= ((@most_votes.score.to_f / @total.to_f) * 100).round %>% (<%= @most_votes.score %> out of <%= @total %> votes.)
  </p>
</div>